body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.navigation-link {
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    font-weight: bolder;
    color: #494949;
    display: inline;
    height: 100%;
}

.navigation-link--active {
    color: orange;
}

.navigation-link--active:hover {
    color: orange !important;
}

.navigation-link:hover{
    color: #ffe0b1;
}

.top-container {
    height: 70vh;
    background-image: linear-gradient(to bottom right, #FFEFCF, #f9f5ed);
    display: grid;
    grid-template-areas:
                'header header'
                'left right';
    padding: 0 100px;
}

.news-container {
  margin: 30px 100px;
  border: orange dotted 3px;
}

.about-us-container {
    border: sandybrown dotted 3px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: red;
    opacity: 30%;
}

.about-us-container > img {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: auto;
}

.call-to-action {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: orange;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.call-to-action:hover {
    border: 1px solid grey;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 5px 10px;
}


.about-us-box-container {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 40vh;
}


.about-us-box-container--right {
    grid-template-columns: 45% 55%;
  }


.about-us-box-text-container {
  background-color: #FFEFCF;
  padding: 10px;
  opacity: 30%;
}



.about-us-box-image-container {
  background-color: lightgreen;
  width: 45% 55%;
  display: grid;

}




.about-us-box-image-container > img {
  width: 50px;
  /* height: 100%; not working */

}



/* new try slider */

.about-us-box-image-container--slider {
  width: 45% 55%;
  display: inline-flex;
  overflow-x: hidden;
}


.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.slide > img {
   height: 100%;
   max-width: 100%;
}

.next-button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  float: right;
  position: relative;
  top: 50%;
  color: black;
  opacity: 70%;
}

.previous-button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  float: left;
  position: relative;
  top: 50%;
  color: black;
  opacity: 70%;

}

.next-button .previous-button :hover {
   background-color: grey;
   border: 1px solid grey;
}






.dropdown {
  display: inline-block;
}

.dropdown a {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
}

.dropdown-content a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  color: orange;
}

.more-information-link {
  text-align: center;
  margin: 50px 0;
}

.more-information-link a {
  text-decoration: none;
  color: orange;
}

.contact-container {
  margin: 30px 50px;
  font-size: 20px;
}

.contact-details-title {
  color: orange;
}

.refrences-container {
  margin: 30px 50px;
}
