body {

  margin: 0;
  padding: 0;
  font-size: 100%;

}

/* DRACHENZAHN */

.back {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe39e;
  padding-top: 10px;

}

.logo {
  height: 25vw;
  margin-right: 5vw;

}


.kinderladen {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 3.5vw;
  color: #5b0000;
  padding: 0;
  margin: 25px 0 0 20px;

}

.drachenzahn {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 9vw;
  color: #5b0000;
  padding: 0;
  margin: 0;
}

/* Herzlich Willkommen */

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe39e;
  padding: 20px;
}

.welcomeIntroduction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: start;
}

.welcome {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 6.5vw;
  color: #5b0000;
  margin: 10px 10px 10px 10px;

}

.introduction {
  font-family: Cochin, Garamond, serif;
  font-size: 5vw;
  color: #5b0000;
}

.introduction a {
  text-decoration: none;
  color: #bf4040;
}

.buttonScetch {
  display: flex;
  flex-direction: column;
}

.contactButton {
  font-family: Cochin, Garamond, serif;
  font-size: 5vw;
  color: #5b0000;
  text-decoration: none;
  background-color: #ffb600;
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 4vh;
  align-self: center;
}

.contactButton:hover {
  border: 1px solid white;
}

.scetch {
  flex-direction: column;
  width: 45vw;
  align-self: flex-end;
  margin-top: 30px;
}

/* Regenbogen */

.rainbowRed {
  background-color: #ff8e7f;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowRed:hover {
  color: #bf4040;
}


.rainbowOrange {
  background-color: #ffb070;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowOrange:hover {
  color: #bd6041;
}

.rainbowYellow {
  background-color: #fef2a3;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowYellow:hover {
  color: #bd9041;
}

.rainbowGreen {
  background-color: #bee3c6;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowGreen:hover {
  color: #41be88;
}

.rainbowBlue {
  background-color: #b7dcfe;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowBlue:hover {
  color: #41adbe;
}

.rainbowPurple {
  background-color: #b7b9fe;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowPurple:hover {
  color: #6d41be;
}

.rainbowPink {
  background-color: #fedbff;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 5vw;
  color: #5b0000;
  padding: 5vw;
  cursor: pointer;
  outline: none;
}

.rainbowPink:hover {
  color: #be4196;
}

.moreInformation {
  background-color: #fef3d6;
  font-family: Cochin, Garamond, serif;
  color: #5b0000;
  padding: 20px;
  margin: 0;
  font-size: 5vw;
}

.moreInformationHeading {
  background-color: #fef3d6;
  font-family: Cochin, Garamond, serif;
  color: #5b0000;
  padding: 20px;
  margin: 0;
  font-weight: bold;
  font-size: 5vw;
}


/* Slideshow */

.slideshow {
  display: flex;
  overflow: hidden;
  background-color: #fef3d6;
}

.slider {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.sliderImage {
  width: 75vw;
  object-fit: contain;
  margin: 2vw;
}


.sliderButton {
  text-decoration: none;
  font-size: 2.5vh;
  color: #5b0000;
  padding: 8px;
}

.sliderButton:hover {
  color: #bd9041;
}


/* Kontaktseite */

.name {
  font-weight: bold;
}

/* Impressum */

.impressum {
  background-color: #fef3d6;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


/* Impressum und Stuff */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  color: white;
  font-size: 4vw;
}

.footer-link {
  text-decoration: none;
  font-family: Cochin, Garamond, serif;
  color: white;
  margin: 4vw;
}

@media only screen and (min-width: 600px) {

/* DRACHENZAHN */

  .kinderladen{
    font-size: 2.5vw;
  }

  .drachenzahn {
    font-size: 7vw;
  }

  .logo {
    height: 17vw;

    margin-right: 6vw;
  }

/* Herzlich Willkommen */

  .top-container {
    padding: 5vw;
  }

  .welcome {
    font-size: 5vw;
  }

  .introduction {
    font-size: 3vw;
  }

  .buttonScetch {
    flex-direction: row;
    justify-content: space-between;
  }

  .contactButton {
    font-size: 3vw;
    align-self: flex-start;
  }

  .scetch {
    width: 25vw;
    margin-top: 0;
    align-self: flex-end;
  }

  /* Regenbogen */

  .rainbowRed{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowOrange{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowYellow{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowGreen{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowBlue{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowPurple{
    font-size: 3vw;
    padding: 5vw;
  }

  .rainbowPink{
    font-size: 3vw;
    padding: 5vw;
  }

  .moreInformation {
    font-size: 3vw;
    padding: 5vw;
  }

  .moreInformationHeading {
    font-size: 3vw;
    padding: 5vw 0 0 5vw;
  }

  /* Slideshow */

  .sliderImage {
    width: 55vw;
    margin: 0 5vw 4vw 5vw;
  }

  .sliderButton {
    font-size: 5vw;
  }

  /* Impressum und Stuff */

  .footer {
    font-size: 2vw;
  }

  .footer-link {
    margin: 3vw;
  }

  .impressum {
    padding: 5vw;
  }

}

@media only screen and (min-width: 992px) {

 /* Drachenzahn */

  .logo {
    height: 10vw;
  }

  .kinderladen {
    font-size: 1.5vw
  }

  .drachenzahn {
    font-size: 5vw;
  }

/* Herzlich Willkommen */

  .welcomeIntroduction {
    padding: 0 5vw;
  }

  .welcome {
    font-size: 3vw;
    margin: 10px 10px 10px 10px;
  }

  .introduction {
    font-size: 1.5vw;
  }

  .contactButton {
    font-size: 1.5vw;
    margin-left: 5vw;
  }

  .scetch {
    width: 25vw;
    margin-right: 5vw;
  }

  /* Regenbogen */

  .rainbowRed, .rainbowOrange, .rainbowYellow, .rainbowGreen, .rainbowBlue, .rainbowPurple, .rainbowPurple, .rainbowPink {
    font-size: 2vw;
    padding: 2vw 10vw 2vw 10vw;
  }

    .moreInformation {
      padding-left: 10vw;
      font-size: 1.5vw;
    }

    .moreInformationHeading{
      font-size: 2vw;
      padding-left: 10vw;
    }

    /* Impressum und Stuff */

    .footer {
      font-size: 1.5vw;
      padding: 1vh;
    }

    .footer-link {
      margin: 3vw;
    }

    .impressum {
      padding-left: 8vw;
    }

}



/* responsive Design */



/*





/*




  .impressum {
    background-color: #fef3d6;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }


/*
  .footer-link {
    text-decoration: none;
    color: white;
    margin: 5px 10px;
  }
*/
