body {

  margin: 0;
  padding: 0;
  font-size: 100%;

}

/* DRACHENZAHN */

.back {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe39e;
  padding-top: 20px;

}

.logo {
  height: 30vw;

}


.kinderladen {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 3vw;
  color: #5b0000;
  padding: 0;
  margin: 25px 0 0 20px;

}

.drachenzahn {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 9vw;
  color: #5b0000;
  padding: 0;
  margin: 0;
}

/* Herzlich Willkommen */

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe39e;
  padding: 20px;
}

.welcomeIntroduction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: start;
}

.welcome {
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 6vw;
  color: #5b0000;
  margin: 10px 10px 10px 10px;

}

.introduction {
  font-family: Cochin, Garamond, serif;
  font-size: 4vw;
  color: #5b0000;
}

.introduction a {
  text-decoration: none;
  color: #bf4040;
}

.contactButton {
  font-family: Cochin, Garamond, serif;
  font-size: 4vw;
  color: #5b0000;
  text-decoration: none;
  background-color: #ffb600;
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 4vh;
  align-self: center;
}

.contactButton:hover {
  border: 1px solid white;
}

.scetch {
  flex-direction: column;
  width: 150px;
  align-self: flex-end;
  margin-top: 40px;
}

/* Regenbogen */

.rainbowRed {
  background-color: #ff8e7f;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowRed:hover {
  color: #bf4040;
}


.rainbowOrange {
  background-color: #ffb070;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowOrange:hover {
  color: #bd6041;
}

.rainbowYellow {
  background-color: #fef2a3;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowYellow:hover {
  color: #bd9041;
}

.rainbowGreen {
  background-color: #bee3c6;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowGreen:hover {
  color: #41be88;
}

.rainbowBlue {
  background-color: #b7dcfe;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowBlue:hover {
  color: #41adbe;
}

.rainbowPurple {
  background-color: #b7b9fe;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowPurple:hover {
  color: #6d41be;
}

.rainbowPink {
  background-color: #fedbff;
  font-family: Chalkduster, Papyrus, fantasy;
  font-size: 2.5vw;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  cursor: pointer;
  outline: none;
}

.rainbowPink:hover {
  color: #be4196;
}

.moreInformation {
  background-color: #fef3d6;
  font-family: Cochin, Garamond, serif;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  margin: 0;
}

.moreInformationHeading {
  background-color: #fef3d6;
  font-family: Cochin, Garamond, serif;
  color: #5b0000;
  padding: 2vw 10vw 2vw 10vw;
  margin: 0;
  font-weight: bold;
}


/* Slideshow */

.slideshow {
  display: flex;
  overflow: hidden;
  background-color: #fef3d6;
}

.slider {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}


.sliderImage {
  height: 60vh;
  object-fit: contain;
}


.sliderButton {
  margin: 50px;
  text-decoration: none;
  font-size: 2.5vh;
  color: #5b0000;
  padding: 8px;
}

.sliderButton:hover {
  color: #bd9041;
}


/* Kontaktseite */

.name {
  font-weight: bold;
}

/* Impressum */

.impressum {
  background-color: #fef3d6;
  display: flex;
  flex-direction: column;
  padding-left: 100px;

}


/* Impressum und Stuff */

.footer-link {
  text-decoration: none;
  color: white;
  margin: 5px 10px;
}

/* responsive Design */

/* .logo {
  height: 20vw;
  }

  .kinderladen {
    font-family: Chalkduster, Papyrus, fantasy;
    font-size: 2vw;
    color: #5b0000;
    padding: 0;
    margin: 25px 0 0 20px;
  }

  .drachenzahn {
    font-family: Chalkduster, Papyrus, fantasy;
    font-size: 7vw;
    color: #5b0000;
    padding: 0;
    margin: 0;
  }

  .top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffe39e;
  }

  .welcomeIntroduction {
    margin: 0 6vw 0 0;
  }

  .welcome {
    font-family: Chalkduster, Papyrus, fantasy;
    font-size: 4vw;
    color: #5b0000;
    margin: 10px 10px 10px 10px;
  }

  .introduction {
    font-family: Cochin, Garamond, serif;
    font-size: 2vw;
    color: #5b0000;
  }


  .contactButton {
    font-family: Cochin, Garamond, serif;
    font-size: 2vw;
    color: #5b0000;
    text-decoration: none;
    background-color: #ffb600;
    padding: 15px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 4vh;
    display: inline-block;
  }

  .scetch {
    height: 20vw;
    margin: 20vh 0 0 0;
  }
*/

@media only screen and (max-width: 600px) {

}
